<div class="container background  big_border">
  <form (ngSubmit)="createRoom()">
    <h1>New Room</h1>
    <label for="name">Room Name:<br></label>
    <input id="name" type="text" name="name" [(ngModel)]="name"><br>

    <label for="playerCount"> Max Player Count:<br></label>
    <p>{{maxPlayerCount}}</p>
    <input id="playerCount" type="range" name="playerCount" [(ngModel)]="maxPlayerCount" (ngModelChange)="checkAiCount()" min="2" max="8"><br><br>

    <label for="aiCount">AI Count:<br></label>
    <p>{{aiCount}}/{{maxPlayerCount}}</p>
    <input id="aiCount" type="range" name="aiCount" [(ngModel)]="aiCount" min="0" [max]="maxPlayerCount - 1"><br>

    <label for="turnH">Hours:<br></label>
    <p>{{turnHours}}</p>
    <input id="turnH" type="range" name="turnH" [(ngModel)]="turnHours" min="0" [max]="100"><br>

    <label for="turnM">Minutes:<br></label>
    <p>{{turnMinutes}}</p>
    <input id="turnM" type="range" name="turnM" [(ngModel)]="turnMinutes" min="1" [max]="59">

    <button id="createRoomButton" type="submit" [disabled]='isCreating' >Create</button>
  </form>
</div>
