<h1 id="title">The game has ended</h1>
<hr/>
<div class="centered">
  <h2 id="leaderboard">Leaderboard</h2>
  <table>
    <tr>
      <th>Place</th>
      <th>Name</th>
      <th>Score</th>
    </tr>
    <ng-container *ngFor="let username of playerUsernames; let i = index">
      <tr>
        <td>{{i + 1}}</td>
        <td>{{username}}</td>
        <td>{{scores[i]}}</td>
      </tr>
    </ng-container>
  </table>
  <hr/>
  <button routerLink="/rooms">Back to rooms</button>
</div>
