:host {
  background-color: #3f1f11;
  opacity: 0.9;
}

#title {
  margin: 1em;
}

.centered {
  text-align: center;
}

#leaderboard {
  margin: 0.5em;
}

ul {
  list-style-type: decimal;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

li {
  font-size: 1.5em;
  margin: 0.5em;
}

table{
  width: 100%;
  position: relative;
  td{
    width: 33%;
  }
  tr{
    margin-bottom: 5em;
  }
}
