<ng-container [ngSwitch]="boardStatus">
  <div *ngSwitchCase="BoardStatus.REPLAY" id="replaying" >
    <div class="board_button game_button"
      (click)="replayNextTurn.emit()">
      Next turn
    </div>
    <div id="replaying_reset" class="board_button game_button"
      (click)="replayReset.emit() ">
      Reset
    </div>
  </div>

  <div *ngSwitchCase="BoardStatus.PICKING_TILE" class="board_button game_button add_button"
       (click)="pickedOrRotatedTile.emit()">
    Pick a tile
  </div>

  <div *ngSwitchCase="BoardStatus.PLACING_TILE" class="board_button game_button add_button"
       (click)="pickedOrRotatedTile.emit()">
    Rotate
  </div>

  <div *ngSwitchCase="BoardStatus.PLACED_TILE" id="place_follower" class="board_button game_button shift_up"
       (click)="pickedFollower.emit()">
    Place Follower
  </div>

  <div *ngSwitchCase="BoardStatus.PLACED_TILE" id="end_turn" class="board_button game_button"
       (click)="endedTurn.emit()">
    End Turn
  </div>

  <div *ngSwitchCase="BoardStatus.PLACING_FOLLOWER" id="placing_follower" class="board_button game_button"
       (click)="endedTurn.emit()">
    Cancel placement
  </div>

  <div *ngSwitchCase="BoardStatus.AWAITING_TURN" id="awaiting_turn" class="board_button game_button add_button">
    Awaiting turn
  </div>
</ng-container>
