.board_button {
  position: fixed;
  bottom: 1em;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#replaying_reset {
  position: fixed;
  bottom: 1em;

}

.shift_up {
  bottom: 3em;
}

@media screen and (min-width: 480px) {
  .board_button {
    width: 20%;
    left: 40%;
    bottom: 8%;
    margin: 0;
  }

  .shift_up {
    bottom: 2em;
  }
}

#awaiting_turn{
  background: none;
  cursor: not-allowed;
}
