<div id="chat_container">
  <p  [className]="showChat ? 'closeChat game_button' : 'toggleChat game_button'"   (click)="showChat=!showChat">{{showChat ? 'Close' : 'Chat'}}</p>
  <section *ngIf="showChat" class="game_button" id="chat">
    <div #scroll id="history">
      <div *ngFor="let message of chatHistory;">
        <p>{{message}}</p>
      </div>
    </div>
    <input #input id="message" type="text" (keyup.enter)="sendMessage()" [(ngModel)]="currentMessage">
    <button id="send" class="game_button" (click)="sendMessage()">send</button>
  </section>
</div>
