#send {
  grid-area: sendButton;
  height: 100%;
  min-height: auto;
}

#message {
  margin: 0;
  width: 100%;
  grid-area: message;
}

#history {
  grid-area: history;
  overflow: auto;
}

#chat_container {
  position: fixed;

}

.toggleChat {
  bottom: 0;
  right: 0;
  position: fixed;
  width: 20%;
  height: 1.5em;
  z-index: 5;
}

.closeChat {
  top: 2.3em;
  right: 0;
  position: fixed;
  width: 20%;
  height: 1.5em;
  z-index: 5;
}

#chat {
  position: fixed;
  height: calc(100% - 2.3em);
  top: 2.3em;
  left: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto minmax(5%, 1.5em);
  grid-template-areas: "history history" "message sendButton";
  background-color: rgba(41, 41, 41, 0.74);
  box-sizing: border-box;
}


@media screen and (min-width: 480px) {
  #chat_container {
    bottom: 0;
    right: 0;
    width: 20%;
  }
  .toggleChat {
    top: auto;
    bottom: 0;
  }
  #chat {
    left: auto;
    top: auto;
    right: 0;
    bottom: 1.7em;
    min-height: 170px;
    height: 20%;
    width: 20%;
    min-width: 480px;
    grid-template-rows: 80% 20%;
    background-color: rgba(54, 54, 54, 0.21);
  }

  .closeChat {
    top: auto;
    bottom: 0;
  }
}
