<div class="auth background container">
<h1>Register</h1>
  <img src="../../../assets/img_menu/authentication.png"/>
  <section>
    <form>
      <p class="error" *ngIf="inputError">Please fill in all the fields</p>
      <p class="error" *ngIf="alreadyRegistered">Unable to register the user, check all your info and retry at a later
        time.
        (username & email must be unique)</p>
      <label for="loginUsername">Username:</label>
      <p>
        <input id="loginUsername" name="loginUsername" [(ngModel)]="username" placeholder="Username">
      </p>
      <label for="loginEmail">Email:</label>
      <p>
        <input id="loginEmail" name="loginEmail" [(ngModel)]="email" placeholder="Email">
      </p>
      <p class="error" *ngIf="passwordError">Make sure the passwords are the same</p>
      <label for="loginPassword">Password:</label>
      <p>
        <input type="password" id="loginPassword" name="loginPassword" [(ngModel)]="password" placeholder="Password">
      </p>
      <label for="login2ndPass">Verify Password:</label>
      <p>
        <input type="password" id="login2ndPass" name="login2ndPass" [(ngModel)]="verifyPass"
               placeholder="Verify Password">
      </p>
      <button (click)="register()">Register</button>
    </form>
  </section>
  <a routerLink="/login">Already have an account?</a>
</div>
