#container {
  margin-top: 1em;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "banner" "text";
}

.img_container {
  background: url(https://amp.thisisinsider.com/images/5bf2d98148eb1222664e62c2-750-563.jpg) no-repeat;
  grid-area: banner;
}

@media screen and (min-width: 480px) {
  #container {
    grid-template-columns: 50% calc(50% - 1em);
    grid-template-rows: 30%;
    grid-template-areas: "text banner";

  }
}
