<div id="container">
  <div class="img_container">
  </div>
  <div class="text">
    <h2>OVERVIEW</h2>
    The players place tiles turn by turn. As they do so, the roads, cities, fields and cloisters emerge and grow. On
    these, the players can deploy their followers to earn points. Players score points during the game and at the end.
    The player with the most points after the final scoring is the winner.
    <br>
    <br>
    <h2>PLAYER TURN</h2>
    The player must draw and place a new tile
    The player may deploy one of his followers from his supply on the tile he just placed
    If, through the placement of the tile, roads, cities or cloisters are completed, they are now scored.
  </div>
  <div class="text">
    <h2>PLACING TILES</h2>
    First a player is given a random tile from the stacks. Everyone can see it (so they can advise him on the 'best'
    placement of the tile), and the player places it on the table, using the following rules:
    The new tile must be placed with at least one edge abutting one previously placed tile. The new tile may not simply
    be placed corner to corner with a previous tile
    The new tile must be placed so that all road, city and field segments on the new tile match road, city or field
    segments on all abutting tiles (cloisters are always complete within single tiles)
    In the rare circumstances where a drawn tile has no legal placement, the tile is discarded from the game and is
    given another tile.
    <br>
    <br>
    <h2>DEPLOYING FOLLOWERS</h2>
    After the player places a tile, he may deploy one of his followers, using the following rules:
    The player may only play one follower on a turn
    The player must take it from his supply
    The player may only deploy it on the tile he just placed
    The player must choose where to deploy the follower on the tile:
    The player may not deploy a follower on a road, city or field segment if that segment connects to a segment on
    another tile (no matter how far away) that already has a follower (from any player) on it.
    When a player has deployed all his followers, he continues to play tiles each turn. Although a follower may not be
    recalled, followers are returned to players when roads, cities and cloisters and scored.
    <br>
    <br>
    <h2>GAME END</h2>
    At the end of the player's turn in which the last tile is placed, the game ends. The final scoring then takes place.
    After scoring the player(s) with the most points win(s).

  </div>
  <div class="text">
    <h2>SCORING</h2>
    -Road
    A road is complete when the road segments at both ends connect to a crossing, a city of a cloister. A road is also
    complete if it connects to itself in a loop. There may be many segments along the road.
    The player who has a follower on a completed road scores one point for each tile in the road (count the number of
    tiles).
    An incomplete road still scores one point for each tile in the road (again, count the number of tiles).
    - City
    A city is complete when the city is completely surrounded by a city wall and there are no gaps in the wall or city
    centre. There may be many segments in a city.
    The player who has a follower in the completed city scores two points for each segment in the city (count the number
    of tiles). Each shield on a city segment earns the player two bonus points.
    An incomplete City only scores one point for each segment in the city (again, count the number of tiles) and one
    bonus point for each shield.
    -Contested city or road
    It is possible through clever placement of tiles for there to be more than one follower on a road or city. When this
    occurs in a completed road or city, the player with the most followers scores all the points.
    When two or more players tie with the most followers, they each score the total points for the road or city.
    - Monestary/cloister
    A cloister is complete when the tile it is on is completely surrounded by tiles. A player with a follower in the
    cloister scores nine points.
    -Returning followers
    After a road, city or cloister is scored (and only then), the followers involved are returned to the appropriate
    players. The returned followers may be used by the players as any of the possible followers in later turns.
    It is possible for a player to deploy a follower, score a road, city or cloister, and have the follower returned in
    the same turn.
    -Farms
    Connected fields are called farms. Farms are not scored during the game. They exist only as places to deploy
    followers. These followers are only scored in the final scoring.
    Followers remain in the field segment where they are deployed for the entire game and are never returned to the
    players!
    Farms are bordered by roads, cities and the edge of the area where the tiles have been played.
    For each completed city adjacent to a farm, the farmer scores three points.
    More than one follower may be present in a farm. In such a case, the player with the most followers in the farms
    scores the points. If two or more players tie with the most followers, each of those tied for most scores the
    points.
  </div>

</div>
