<h1>Room:   {{room.name}}</h1>
<h3> {{room.players.length}} / {{room.maxPlayerCount}}</h3>
<h4 *ngIf="room.players[room.currentPlayerId]">It's {{room.players[room.currentPlayerId].username}} turn</h4>
<input type="button" value="Connect" (click)="joinRoom()">
