<div class="container relative background">
  <h2>{{replay.roomName}}</h2>
  <div *ngFor="let usernames of replay.userNames; let i = index">
    <h3>{{usernames}} - {{replay.endScores[i]}}</h3>
  </div>
</div>

