app-chat {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
}

#players {
  margin-top:1em;
  margin-left: 5px;
  width: 50%;
  max-width: 250px;
}

.circle {
  font-size: 2em;
  bottom: 1%;
  left: 0;
  height: 1.2em;
  width: 1.2em;
  margin-left: 5%;
}

#zoom_out {
  bottom: 1em;
}

#zoom_in {
  bottom: 2.5em;
}

app-end-game{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 480px) {
  #canvas_div {
    top: 0;
    left: 0;
  }

  .circle {
    margin: 0;
    left: 3em;
  }

  #zoom_out {
    position: fixed;
    top: 75vh;
  }

  #zoom_in {
    top: 70vh;
  }

}
