<div>
  <div id="canvas_div" class="full_vh fixed">
    <canvas #board_canvas id="board_canvas" width="100" height="100"
            class="fixed full_v trans_background"></canvas>
  </div>

  <div class="fixed game_button" id="players">
    <div (click)="show_players=!show_players">Players</div>
    <div *ngIf="show_players">
      <hr>
      <div *ngFor="let player of players;">{{player.username}}<br>Followers: {{player.followersAmount}}
        Score: {{player.score}}
        <hr>
      </div>
    </div>
  </div>
  <div class="fixed center game_button" *ngIf="canvasService.verifying">
    <h2>{{canvasService.surfaceType}}</h2>
    <br>
    <div class="game_button" (click)="processVerification(true)">Accept</div>
    <div class="game_button" (click)="processVerification(false)">No</div>
  </div>

  <app-end-game
    *ngIf="canvasService.ended && !this.activatedRoute.url.includes('replay')"
    [roomId]="roomid"></app-end-game>

  <app-board-menu
    *ngIf="!canvasService.ended"
    [boardStatus]="canvasService.boardStatus"
    (pickedOrRotatedTile)="canvasService.pickTile()"
    (pickedFollower)="canvasService.pickMeeple()"
    (endedTurn)="endTurn()"
    (replayNextTurn)="updateReplayBoard()"
    (replayReset)="replayReset()"
  >
  </app-board-menu>

  <div class="circle game_button fixed" (mousedown)="zoomOutMousedown()" (mouseleave)="resetInterval()"
       (mouseup)="resetInterval()"
       id="zoom_out">-
  </div>
  <div class="circle game_button fixed" (mousedown)="zoomInMousedown()" (mouseleave)="resetInterval()"
       (mouseup)="resetInterval()"
       id="zoom_in">+
  </div>
</div>
<app-chat *ngIf="rendered" [roomid]="roomid"></app-chat>
