
#home {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "banner" "intro" "team_img" "team_text";
}

#intro_text {
  grid-area: intro;
}

#banner_img {
  grid-area: banner;
}

#team_img {
  grid-area: team_img;
}

#team_text {
  grid-area: team_text;
}

@media screen and (min-width: 480px) {
  #home {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "banner  intro intro" "team_text team_text team_img";
  }
}

