<div id="home" class="container">
  <div class="img_container" id="banner_img">
    <img  alt="banner" src="../assets/img/banner.webp"/>
  </div>

  <div id="intro_text" class="text">
    A small intro I think this is the perfect job for Simon since he is almost rendered useless otherwise
  </div>

  <div class="img_container" id="team_img">
    <img alt="team" src="../assets/img/home_ourteam.webp"/>
  </div>
  <div class="text" id="team_text">
    The team behind it all ...<br>
    <br>
    <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
  </div>
</div>
