<div id="verification" class="fixed container background">
  <h1><img src="https://png.pngtree.com/svg/20170516/complete_534974.png">Verification mail has been sent</h1>
    <p>Please check your spam folder, the mail is sent from "Fubar@Carcassonne.com"</p>
    <button id="Login" routerLink="/login">Log in</button>
</div>
