<div class="container background">
  <h1>Notifications:</h1>
<h2 *ngIf="noNotifications"> No new notifications</h2>
  <div *ngFor="let notification of notifications">
  <app-notification-item
    (delete)="pull()"
    [notification]="notification" >
  </app-notification-item></div>
</div>
