<label for="loginPassword">Password:</label>
<p>
  <input type="password" id="loginPassword" name="loginPassword" [(ngModel)]="pass" placeholder="Password">
</p>
<label for="login2ndPass">Verify Password:</label>
<p>
  <input type="password" id="login2ndPass" name="login2ndPass" [(ngModel)]="secondPass"
         placeholder="Verify Password">
</p>
<button (click)="changePassword()">Register</button>
