
.menu_item {
  overflow: hidden;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #3f1f11;
  border: 2px #4b4b4b solid;
  border-radius: 5%;
  font-size: 2em;
  margin: 2px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
 // height: calc((100vh - 4em) / 3);
  img {
    width: 50%;
  }
}

@media screen and (min-width: 480px) {
  br{
    display: none;
  }
  .menu_item {
    padding:0;
    width: 100%;
    height: 100%;
    img{
      height: 50%;
      width: auto;
    }
    span{
      margin-left: 5px;
    }
  }

}

