<app-menu></app-menu>
<div id="router-outlet"
     class="no-mar-pad relative"
     *ngIf="rendered || !this.authenticationService.currentUserValue">
<router-outlet></router-outlet>
  <notifier-container></notifier-container>
</div>


