<div class="auth background container">
  <h1>Login</h1>
  <img src="../../../assets/img_menu/authentication.png"/>
  <p class="error" *ngIf="unabletologin"> Unable to log in to this account!</p>
  <section id="loginForm">
      <form>
    <label for="loginUsername">Username:</label>
    <p> <input  name="loginUsername"  id="loginUsername" [(ngModel)]="username" placeholder="Username"/>
      </p>

    <label for="loginUsername">Password:</label>  <p>
        <input  type="password" name="loginPassword"   id="loginPassword" [(ngModel)]="password"  placeholder="Password"/>
     </p>

    <button id="login" (click)="login()">Login</button>
  </form>
</section>
  <p>
<a routerLink="/register">No account yet?</a>
  </p>
  <button id="Facebooklogin" (click)="socialSignIn('facebook')">Sign in with Facebook</button>
<br>
  <button id="Googlelogin" (click)="socialSignIn('google')">Sign in with Google</button>

</div>
