app-room {
  height: 100%;
  width: 100%;
}

#invitePlayer {
  bottom: 0;
  height: auto;
  min-height: 200px;
  width: auto;
  min-width: 200px;
}

#room {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "joinRoom" "players";
}


.invite {
  margin: 0;
  padding: 0;
  box-sizing: padding-box;
  font-size: 1em;
  width: auto;
}


.full_width {
  display: flex;
  flex-wrap: wrap;

}

#friends_toggle {
  bottom: 0;
  width: auto;
  min-width: 200px;
}

#players {
  grid-area: players;
}

#joinRoom {
  grid-area: joinRoom;
}

.invite_section {
  width: 100%;

  input {
    margin: 0;
  }

  button {
    width: 80%;
  }
}

@media screen and (min-width: 480px) {
  #room {
    display: grid;
    grid-template-columns: 70% 30%;

    grid-template-rows: auto;
    grid-template-areas: "joinRoom players";
  }
  #players {
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;

    border: 3px solid #2c140b;
  }
  #joinRoom {
    margin: 2%;
  }

}
