<div class="container background" id="room">
  <div id="players">
    <H1>Players:</H1>
    <div *ngFor="let player of room.players;">
      <app-player [player]="player.username"></app-player>
    </div>
  </div>
  <div id="joinRoom" *ngIf="room.players">
    <H1> Room name:  {{room.name}} </H1>
    <h2> Room capacity:  {{currentcount}}/{{room.maxPlayerCount}}</h2>

    <hr>
    <h2 *ngIf="!isFull && room.players>0">It's {{getCurrentPlayer()}}'s turn</h2>
    <div class="invite_section" *ngIf="!isFull">
      <br>
      <div class="text_highlight game_button" *ngIf="hasResponse" (click)="hasResponse=!hasResponse">{{response}}</div>
      <h2>Invite:</h2>
      <label for="username">Username: </label><br>
      <input #username_invite id="username" type="text"/><br>
      <button [disabled]='isJoining' (click)="invite(username_invite.value)">Invite</button>
      <br>
      <label for="email">Email: </label><br>
      <input #email_invite id="email" type="text"/><br>
      <button [disabled]='isJoining' (click)="inviteByEmail(email_invite.value)">Invite</button>
      <br>
    </div>
  </div>

  <div *ngIf="!friendsToggle" (click)="friendsToggle=!friendsToggle" id="friends_toggle" class="fixed game_button">
    Friends
  </div>
  <div *ngIf="friendsToggle" id="invitePlayer" class="fixed game_button">
    <h2 (click)="friendsToggle=!friendsToggle">Friends list:</h2>
    <hr>
    <div *ngFor="let friend of friendsList">
      <div class="invite"> {{friend.username}}
        <div class="invite" *ngIf="!isPlayerInRoom(friend.username) && !invited && !isFull"
             (click)="inviteFriend(friend)">
          Invite
        </div>
        <hr>
      </div>
      <div *ngIf="!friendsList || friendsList.length===0">
        No friends
      </div>
    </div>

  </div>

  <button id="watchGame" [disabled]='isJoining ' *ngIf="gameStarted" (click)="watchGame()">Watch Game</button>
  <button id="startGame" [disabled]='isJoining || !isFull' *ngIf="!gameStarted" (click)="startGame()">Start Game</button>
  <button id="leaveGame" [disabled]='isJoining ' (click)="leaveRoom()">Leave Game</button>
  <app-chat *ngIf="rendered" [roomid]="roomId"></app-chat>
</div>

