<div class="container relative background">
  <h1>History:</h1>
  <img class="loading" *ngIf="isLoading" src="../../../assets/img/loading.gif">
  <h2 *ngIf="noReplays"> No replays found</h2>
  <div *ngFor="let replay of replays">
    <app-history-item
      routerLink="../replay/{{replay.id}}"
      [replay]="replay">
    </app-history-item>
  </div>
</div>


