<div id="friends" class="container relative">
  <div id="addfriend" class="background">
    <p>Add a friend</p>
    <input id="addFriendText" type="text" [(ngModel)]="addUsername">
    <button id="addFriendButton" (click)="addFriend()">Add friend</button>
  </div>

  <div id="invites" class="background">
    <h2>Pending:</h2>
    <hr>
    <br/>
    <div *ngFor="let pending of pendingList; let i = index">
      <p (click)="selectInvite(pending)"
         id="pending{{i}}"
         class="game_button"
         [ngClass]="(isSelectedInvite(pending) ? 'selected' : '')">{{pending.username}}</p>
    </div>

    <div style="position:absolute;bottom: 0 ;width:100%;">
      <button [disabled]=" this.selectedInvite ==''" (click)="acceptInvite()" id="accept" class="half_button">Accept
        Friendship
      </button>
      <button [disabled]=" this.selectedInvite ==''" (click)="refuseInvite()" id="refuse" class="half_button">Refuse
        Friendship
      </button>
    </div>
  </div>

  <div id="friendList" class="background">
    <h2>Friends list:</h2>
    <hr>
    <br/>
    <div *ngFor="let friend of friendsList; let i = index">
      <div id="friend{{i}}" (click)="selectFriend(friend)"
           [ngClass]="(isSelectedFriend(friend) ? 'selected' : '')">
        <p class="game_button">{{friend.username}}</p>
        <div class="full_width" style="flex-wrap: wrap;display: flex;">
          <div class="game_button half_button" *ngIf="isSelectedFriend(friend)"
               (click)="moveToProfile(friend.username)">View
            Profile
          </div>
          <div class="game_button half_button" *ngIf="isSelectedFriend(friend)" (click)="deleteFriend(friend)"
               id="delete">Delete friend
          </div>
        </div>
      </div>
    </div>
    <!--  <div *ngIf="friendsList && friendsList.length==0">
        No friends
      </div>
      -->
  </div>

</div>
