#addfriend {

  button {
    margin-top: 2%;
  }

  min-width: 325px;
}

.selected {
  box-sizing: border-box;
  border: 1px solid white;
  color: #ffffff;
  background-color: rgba(44, 20, 11, 0.35);
  text-align: center;
}

#invites {
  min-height: 300px;
  grid-area: invites;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#friendList {
  grid-area: friends;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#invites:focus {
  background: #fb44ff;
}


#accept {
  grid-area: accept;
}

#refuse {
  grid-area: refuse;
}

#addfriend {
  grid-area: add;
}

#delete {
  grid-area: delete;
}

#friends {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 2%;
  grid-template-areas: "add" "friends" "friends" "invites" "invites";
}

@media screen and (min-width: 480px) {
  #friends {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 5fr 1fr;
    grid-column-gap: 2%;
    grid-template-areas: "friends add" "invites invites";
  }
  .half_button{
    width: 50%;
  }
}
