<div  class="container" [ngClass]="(isVisitor) ? 'full_grid' :''">
  <div  id="overview" class="background">
    <p>Email:</p>
    <p>{{email}}</p>
    <p>Name:</p>
    <p>{{name}} </p>
    <p>Username:</p>
    <p>{{username}} </p>
    <p>Stats Public: {{isPublic}} </p>
    <section *ngIf="!isVisitor">
      <p># times played:</p>
      <p>{{times_played}}</p>
      <p># times won:</p>
      <p>{{times_won}} </p>
      <p>Average score:</p>
      <p>{{average_score}} </p>
      <p>Maximum score:</p>
      <p>{{maximum_score}} </p>
    </section>
    <section *ngIf="isPublic && isVisitor">
      <p># times played:</p>
      <p>{{times_played}}</p>
      <p># times won:</p>
      <p>{{times_won}} </p>
      <p>Average score:</p>
      <p>{{average_score}} </p>
      <p>Maximum score:</p>
      <p>{{maximum_score}} </p>
    </section>
  </div>
  <div   *ngIf="!isVisitor" id="main_button" >
    <button>Change account settings</button>
    <button (click)="redirectToChange()">Reset password</button>
    <button (click)="history()">History</button>

    <button (click)="delete()">Delete account</button>
  </div>
  <div  *ngIf="!isVisitor" id="down_button">
    <button (click)="changeStatsAvailability()">Change stats availability</button>
    <button id="logout" (click)="logout()">Logout</button>
  </div>
</div>
