
.container {

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "overview" "mainbutton" "downbutton";
}

.full_grid{
  grid-template-areas: "overview overview overview overview" "overview overview overview overview" !important;

}
#overview {
  font-size: 1.2em;
  grid-area: overview;
}

#main_button {
  grid-area: mainbutton;
}

#down_button {
  grid-area: downbutton;
}

@media screen and (min-width: 480px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "mainbutton overview overview overview" "downbutton overview overview overview";
  }
}
