<div>
  <h1 *ngIf="notification.roomName !== null">{{notification.roomName}}: {{notification.message}}</h1>

  <h1 *ngIf="notification.roomId !== null && !notification.isStarted"><button (click)="joinRoom()">Join lobby</button></h1>
  <h1 *ngIf="notification.roomId !== null && notification.isStarted"><button (click)="redirectToBoard()">Go To Game</button></h1>

  <h1 *ngIf="notification.roomName === null">{{notification.message}}</h1>
  <button (click)="close()">Close</button>
</div>
