<div id="rooms" class="container background">

  <button id="create_room" routerLink="/create_room">Create Room</button>
  <div>Filter:
    <select (change)="filterRoom()" [(ngModel)]="filter">
      <option *ngFor="let filterItem of filterList"
              [selected]="filter === 'All'"
              [value]="filterItem">{{filterItem}}</option>
    </select></div>

  <img class="loading" *ngIf="isLoading" src="../../../assets/img/loading.gif">

  <div class="background" *ngFor="let _room of rooms; let i = index">
    <app-room-item id="room{{i}}" (join)="joinRoom($event)" [room]=_room></app-room-item>
  </div>
  <div id="no_room" class="background" *ngIf="rooms && rooms.length === 0">
    <h2 class="no_rooms">No rooms found. Feel free to create one.</h2>
  </div>
</div>
