$text_color:#d1d0e0;
$border_color: rgb(21, 10, 6);
.container{
  width: 100%;
  top:2em;
  position: relative;

}
#rooms{
  top:0;
}
button{
  font-size: 1.5em;
}
p{
  margin:3% 5%;
  color: $text_color;
  font-size: 1.5em;
}
select{
  font-size: 0.8em;
}


@media screen and (min-width: 480px) {
  .container {
    margin-left: 10%;
    margin-right: 10%;
  width: 80%;
}}

.no_rooms{
  margin: 1em 0;
}
