/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";

$border_color: #39180e;
$text_color: #ddd1cf;
$background_color: rgba(26, 26, 26, 0.38);
$button_color: #3f1f11;
$font-path: "/assets/font/Augusta.ttf";
$font-family-brand: 'customFont';
$highlight_color: #1111;
$button_border: #2c140b;
$highlight_text_color: rgb(255, 239, 170);

.pointer {
  cursor: pointer;
}

.center {
  top: 25%;
  left: 25%;
  width: 50%;
}

.small_border {
  border: 1px solid $text_color;
}

.text_highlight {
  color: $highlight_text_color;
  text-shadow: 0 0 4px #000000;
}

.error {
  font-size: 1.2em;
  color: #e90000;
  text-shadow: 0 0 4px #000000;

}


body, html {
  height: 100%;
  width: 100%;
}

app-root {
  display: block;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  text-align: center;
  width: 100%;
  margin: 1em auto 0;
}

.full_v {
  width: 100vw;
  height: 100vh;
}

.img_container {
  margin: 2% 5% 5%;

  img {
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.55);
    border: 1px solid #101010;
    overflow: hidden;
  }
}

@media screen and (min-width: 480px) {
  .img_container {
    display: block;
    height: 100%;
    width: auto;
    margin: 0;
  }
}

.trans_background {
  background-color: rgba(41, 41, 41, 0.26);
}

.big_border {
  border: solid 5px rgba(19, 19, 19, 0.98);
  box-sizing: border-box;

}

.full_vh {
  height: 100vh;
}

.game_button {
  background: rgba(74, 74, 74, 0.79);
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  font-size: 1.2em;
  text-align: center;
  z-index: 2;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text {
  background-color: $background_color;
  margin: 0 5% 5%;
  padding: 2%;
  border: 2px solid $border_color;
}

@media screen and (min-width: 480px) {
  .text {
    width: 100%;
    margin: 0;
  }
}

.background {
  padding: 0;
  background-color: $background_color;
  border: 3px solid $border_color;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.no-mar-pad {
  padding: 0;
  margin: 0;
}


body {
  overscroll-behavior: contain;
  background-color: #000000;
  font-family: customFont, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: $text_color;

}

.circle {
  border: 1px solid white;
  border-radius: 100%;
  text-align: center;
}

@font-face {
  font-display: auto;
  font-family: customFont;
  src: url($font-path) format('opentype');
}


#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("assets/img/background.webp");
  opacity: 0.7;
  filter: blur(2px);
  -webkit-filter: blur(2px);

}


button {
  font-family: customFont, sans-serif;
  width: 100%;
  min-height: 38px;
  font-size: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  color: whitesmoke;
  background-color: $button_color;
  border: 2px solid $button_border;
}

button[disabled] {
  font-family: customFont, sans-serif;
  width: 100%;
  min-height: 38px;
  font-size: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  color: #b0b0b0;
  background-color: rgba(64, 64, 64, 0.78);
  border: 2px solid $button_border;
}


input[type="submit"] {
  padding-left: 20%;
  padding-right: 20%;
  font-family: customFont, sans-serif;
  font-size: 1em;
  background-repeat: no-repeat;
  background-size: contain;
  color: whitesmoke;
  background-color: $button_color;
  border: 2px solid $button_border;
}

input {
  background-color: rgba(17, 17, 17, 0.25);
  border: 1px solid rgba(245, 245, 245, 0.44);
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  color: rgba(245, 245, 245, 0.89);
  width: 80%;
  margin: 2px 2px 2px 5%;
  box-sizing: border-box;
}

.auth {
  img {
    height: auto;
    width: 30%;
    border: 2px solid #afafaf;
    background-color: rgba(237, 237, 237, 0.19);
    border-radius: 100%;
    margin-top: 2%;
    margin-bottom: 6%;
  }


  a {
    margin-top: 10%;
    color: white;
    font-size: 1.2em;
  }

  button {
    font-size: 1.2em;
    margin-top: 5%;
    width: 80%;
  }


  @media screen and (min-width: 480px) {
    width: 80%;
    min-width: 335px;
    img {
      max-height: 200px;
      width: auto;
    }

    button {
      width: 330px;
      margin: 20px auto 0;
    }
  }
  @media screen and (max-height: 480px) {
    img {
      height: auto;
      width: 20%;
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  background: $button_color;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  cursor: pointer;
  background: $button_color;
  border-radius: 50%;
}

.loading {
  height: 20%;
  width: 20%;

}

@media screen and (min-width: 480px) {
  .loading {
    height: 10%;
    width: 10%;
  }
}
