<header id="menu">
  <div (click)="isMenuClicked=!isMenuClicked" id="menu_head">{{menuText}}  </div>
  <img alt="^" (click)="isMenuClicked=!isMenuClicked"
       id="dropdown"
    [src]="isMenuClicked ? '../../../assets/img_menu/cross.png' : '../../../assets/img_menu/burger.png' "
  >

  <div id="menu_background" *ngIf="isMenuClicked" (click)="isMenuClicked=!isMenuClicked"  ></div>
  <div id="tiles"  [class]="isMenuClicked ? 'dropdown' :'none'">
    <app-menu-item (click)="isMenuClicked=false"
      link="/"
      title="Home"
      asset="../../../assets/img_menu/home.png"
    >
    </app-menu-item>
    <app-menu-item (click)="isMenuClicked=false"
      link="/rules"
      title="Rules"
      asset="../../../assets/img_menu/rules.png"
    >
    </app-menu-item>
    <app-menu-item (click)="isMenuClicked=false"
      link="/rooms"
      title="Rooms"
      asset="../../../assets/img_menu/rooms.png"
    >
    </app-menu-item>

    <app-menu-item *ngIf="isLoggedIn" (click)="isMenuClicked=false"
      link="/notifications"
      title="Notifications"
      asset="../../../assets/img_menu/notifications.png"
    >
    </app-menu-item>

    <app-menu-item *ngIf="isLoggedIn" (click)="isMenuClicked=false"
      link="/friends"
      title="Friends"
      asset="../../../assets/img_menu/friends.png"
    >
    </app-menu-item>

    <app-menu-item *ngIf="isLoggedIn" (click)="isMenuClicked=false"
      link="/profile"
      title="Profile"
      asset="../../../assets/img_menu/profile.png"
    >
    </app-menu-item>

    <app-menu-item *ngIf="!isLoggedIn" (click)="isMenuClicked=false"
      link="/login"
      title="Login"
      asset="../../../assets/img_menu/login.png"
    >
    </app-menu-item>

  </div>
</header>
