//TODO

$border_color: #150a06;
$background_color: rgb(64, 27, 9);

$text_color: #faedeb;
$text_color_item: #ddd1cf;
$onhover_color: #86ada8;

app-menu-item {
  padding: 1%;
  width: 50%;
}

#menu_background {
  background-color: rgba(110, 110, 110, 0.73);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}


$animation_dur: 1s;
.icon {
  display: none;
  width: 1.5em;
  padding-left: .25em;
  opacity: 0.7;
}

.icon:hover {
  opacity: 0.9;
}

#tiles {
  padding: 1%;
  top: 2.3em;
  flex-wrap: wrap;
  opacity: 0.99;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: auto;
  list-style: outside none none;

}

#menu {
  z-index: 3;
  position: fixed;
  width: 100%;
  text-align: left;
  background-color: $background_color;
  color: $text_color;
}

#menu_head {
  font-size: 2.3em;
  width: 85%;
  padding-left: 5%;
  display: inline-block;

}

#dropdown {
  height: 1.2em;
}

.none {

  display: none;
}

.dropdown {
  display: flex;
}


@media screen and (min-width: 480px) {
  #menu_head, #dropdown {
    display: none;
  }
  #tiles {
    padding: 0;
    display: flex;
    position: fixed;
    left: 0;
    justify-content: center;
    width: calc(100% - 4px);
    height: 3em;
    flex-wrap: wrap;
    top: 0;
    list-style: outside none none;
    z-index: 2;
    background-color: rgb(44, 19, 6);
  }
  #menu_background {
    display: none;
  }

  #menu {
    position: fixed;
    width: 100%;
    height: 3.2em;
    text-align: left;
    color: $text_color;
    background-color: rgba(0, 0, 0, 0.47);
  }
  span {
    display: none;
  }


  #menu_head {
    display: none;
  }


  app-menu-item {
    cursor: pointer;
    box-sizing: border-box;
    width: calc(100% / 6);
    height: 100%;
    padding: 1px;
  }

}




